fastapi==0.60.2
uvicorn==0.30.0
spacy==3.3.3
spacy-transformers==1.1.7
en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.3.0/en_core_web_trf-3.3.0-py3-none-any.whl
